#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button:hover {
  border-color: #646cff;
  background-color: green;
}

  button{
    padding: "8px";
    border-radius: "4px";
    border: "none";
    background-color: "#646cff";
    color: "white";
    cursor: "pointer";
  }